# Next.js specific
.next/
out/
build/

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor files
.vscode/
*.swp
*.swo
.history

### NextJS ###
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
